{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Student</title>
  </head>
  <!-- <link rel="stylesheet" href="{% static 'students/styles/base.css' %}"> -->
  <body>
    <form action="{% url 'all-events/' %}" method="POST">
      {% csrf_token %}
      
         {{ form.as_p }} 
      
      <button>Register</button>
    </form>
  </body>
</html>
