{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'students/styles/base.css' %}" />
    <title>All Students</title>
  </head>
  <body>
    <ul>
      {% for student_item in students%}
      <article>
        <h1>Name : {{student_item.name}}</h1>
        <h2>Email : {{student_item.email}}</h2>
        <h2>Phone : {{student_item.phone}}</h2>
      </article>
      {% endfor%}
      <div>
        <a href="{% url 'new-student-form' %}" class="btn">New Form</a>
      </div>
    </ul>
  </body>
</html>
